@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="table table--main">
    <div class="table__row table__row--main">
        <div class="mdc-elevation--z5 table--main__login">
            <div class="table table--login">
                <div class="table__column table__column--padding">
                    <div class="column__item--center ">
                        <h5 class="mdc-typography--headline5">Please Log In</h5>
                    </div>
                </div>
                <div class="table__column table__column--padding">
                    <button class="mdc-button column__item--center">
                        <img class="mdc-button__icon" src="~/images/social/facebook-login.svg" alt="Alternate Text" />
                        <span class="mdc-button__label">Facebook</span>

                    </button>
                </div>
                <div class="table__column table__column--padding">
                    <button class="mdc-button column__item--center">
                        <img class="mdc-button__icon" src="~/images/social/google-login.svg" alt="Alternate Text" />
                        <span class="mdc-button__label">Google</span>

                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
