
@{
    ViewData["Title"] = "CategoryThree";
}

@section FixedBar{
    <div class="fixedbar">
        <div class="mdc-menu-surface--anchor">
            <button id="menubuttongenre" class=" mdc-button mdc-button--unelevated">
                <span class="mdc-button__text">Genres</span>
            </button>

            <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text">Crime</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text">Fantasy</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text">Romantic</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text">Detective</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text">Horror</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text">Western</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller mdc-tab-scroller--align-center">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">Main</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">The Best</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" aria-selected="true">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__text-label">New</span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%"></div>
    </div>
}

<h1>CategoryThree</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Habitasse platea dictumst quisque sagittis purus sit amet. Nisi quis eleifend quam adipiscing. Habitant morbi tristique senectus et netus et malesuada fames. Nisi est sit amet facilisis magna etiam. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Lectus arcu bibendum at varius vel pharetra vel turpis. Lectus vestibulum mattis ullamcorper velit sed. Aliquam purus sit amet luctus. Non arcu risus quis varius quam quisque. Velit laoreet id donec ultrices tincidunt arcu. Fermentum posuere urna nec tincidunt praesent semper feugiat. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Placerat in egestas erat imperdiet.

    Lobortis feugiat vivamus at augue eget arcu dictum. Varius quam quisque id diam vel. Cursus eget nunc scelerisque viverra mauris in. Accumsan tortor posuere ac ut consequat semper. Placerat in egestas erat imperdiet sed euismod. Aliquam id diam maecenas ultricies mi eget mauris. Lectus nulla at volutpat diam ut venenatis tellus in metus. Lacus sed viverra tellus in hac habitasse platea dictumst. A iaculis at erat pellentesque adipiscing commodo elit at. Leo vel fringilla est ullamcorper eget nulla facilisi. Quis risus sed vulputate odio ut enim. Etiam dignissim diam quis enim lobortis scelerisque. Massa sed elementum tempus egestas.

    Leo vel fringilla est ullamcorper eget nulla facilisi. Faucibus vitae aliquet nec ullamcorper sit amet. Amet cursus sit amet dictum sit. Faucibus turpis in eu mi bibendum neque egestas congue quisque. Blandit turpis cursus in hac habitasse platea. Arcu non sodales neque sodales ut etiam sit amet. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Nisl rhoncus mattis rhoncus urna neque. Imperdiet proin fermentum leo vel orci porta non. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Sem et tortor consequat id porta nibh venenatis. Dolor morbi non arcu risus quis varius quam. Vel turpis nunc eget lorem dolor sed viverra. In cursus turpis massa tincidunt dui. Tristique senectus et netus et. Morbi tristique senectus et netus et malesuada fames. Id faucibus nisl tincidunt eget nullam non. Purus non enim praesent elementum.

    Natoque penatibus et magnis dis. Justo laoreet sit amet cursus sit amet dictum sit amet. Integer enim neque volutpat ac tincidunt vitae. Semper risus in hendrerit gravida rutrum. Nulla malesuada pellentesque elit eget gravida cum sociis. Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Et odio pellentesque diam volutpat commodo. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. Volutpat est velit egestas dui id ornare. Pellentesque adipiscing commodo elit at imperdiet. Arcu risus quis varius quam quisque id diam vel quam. Adipiscing elit ut aliquam purus.

    Ac odio tempor orci dapibus ultrices in. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Nullam eget felis eget nunc. Id venenatis a condimentum vitae sapien pellentesque habitant morbi. Gravida arcu ac tortor dignissim convallis aenean. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Eu ultrices vitae auctor eu augue ut lectus arcu. Nisi est sit amet facilisis magna. Fringilla phasellus faucibus scelerisque eleifend donec. Tincidunt arcu non sodales neque sodales ut. Quam pellentesque nec nam aliquam sem et tortor. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Habitasse platea dictumst quisque sagittis purus sit amet. Nisi quis eleifend quam adipiscing. Habitant morbi tristique senectus et netus et malesuada fames. Nisi est sit amet facilisis magna etiam. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Lectus arcu bibendum at varius vel pharetra vel turpis. Lectus vestibulum mattis ullamcorper velit sed. Aliquam purus sit amet luctus. Non arcu risus quis varius quam quisque. Velit laoreet id donec ultrices tincidunt arcu. Fermentum posuere urna nec tincidunt praesent semper feugiat. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Placerat in egestas erat imperdiet.

    Lobortis feugiat vivamus at augue eget arcu dictum. Varius quam quisque id diam vel. Cursus eget nunc scelerisque viverra mauris in. Accumsan tortor posuere ac ut consequat semper. Placerat in egestas erat imperdiet sed euismod. Aliquam id diam maecenas ultricies mi eget mauris. Lectus nulla at volutpat diam ut venenatis tellus in metus. Lacus sed viverra tellus in hac habitasse platea dictumst. A iaculis at erat pellentesque adipiscing commodo elit at. Leo vel fringilla est ullamcorper eget nulla facilisi. Quis risus sed vulputate odio ut enim. Etiam dignissim diam quis enim lobortis scelerisque. Massa sed elementum tempus egestas.

    Leo vel fringilla est ullamcorper eget nulla facilisi. Faucibus vitae aliquet nec ullamcorper sit amet. Amet cursus sit amet dictum sit. Faucibus turpis in eu mi bibendum neque egestas congue quisque. Blandit turpis cursus in hac habitasse platea. Arcu non sodales neque sodales ut etiam sit amet. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Nisl rhoncus mattis rhoncus urna neque. Imperdiet proin fermentum leo vel orci porta non. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Sem et tortor consequat id porta nibh venenatis. Dolor morbi non arcu risus quis varius quam. Vel turpis nunc eget lorem dolor sed viverra. In cursus turpis massa tincidunt dui. Tristique senectus et netus et. Morbi tristique senectus et netus et malesuada fames. Id faucibus nisl tincidunt eget nullam non. Purus non enim praesent elementum.

    Natoque penatibus et magnis dis. Justo laoreet sit amet cursus sit amet dictum sit amet. Integer enim neque volutpat ac tincidunt vitae. Semper risus in hendrerit gravida rutrum. Nulla malesuada pellentesque elit eget gravida cum sociis. Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Et odio pellentesque diam volutpat commodo. Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. Volutpat est velit egestas dui id ornare. Pellentesque adipiscing commodo elit at imperdiet. Arcu risus quis varius quam quisque id diam vel quam. Adipiscing elit ut aliquam purus.

    Ac odio tempor orci dapibus ultrices in. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Nullam eget felis eget nunc. Id venenatis a condimentum vitae sapien pellentesque habitant morbi. Gravida arcu ac tortor dignissim convallis aenean. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Eu ultrices vitae auctor eu augue ut lectus arcu. Nisi est sit amet facilisis magna. Fringilla phasellus faucibus scelerisque eleifend donec. Tincidunt arcu non sodales neque sodales ut. Quam pellentesque nec nam aliquam sem et tortor. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
</p>
